body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

.favBtn {
	background-color: yellow;
	height: 45 px;
	width: 100 px;
	border-radius: 30%;
	box-shadow: 5px 5px 10px grey;
}

#buttonSec {
	display: flex;
	height: 5vh;
	justify-content: space-evenly;
	
}